*{
    font-family: 'Waiting for the Sunrise', cursive;
    box-sizing: border-box;
}

.header{
    font-size: 250%;
    height: 150px;
    text-align: center;
    text-decoration: underline;
}

.footer{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 100px;
    text-align: right;
    color: ghostWhite;
    background-color: orange;
    padding: 5px;
    text-shadow: 0 0 1px black;
}

.list_body{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    max-height: 1200px;
    width: auto;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 300px;
    padding: 50px;

    box-shadow: 2px 5px 10px black;
    background: transparent url("resources/paper.jpg") center;
    background-size: cover;
    transition: all 1s ease-in;

    overflow: auto;
}
.list_body div:nth-of-type(1) {-webkit-flex-grow: 3;}
/*#main div:nth-of-type(2) {-webkit-flex-grow: 3;}*/
/*#main div:nth-of-type(3) {-webkit-flex-grow: 1;}*/
/*#main div:nth-of-type(4) {-webkit-flex-grow: 1;}*/
/*#main div:nth-of-type(5) {-webkit-flex-grow: 1;}*/


.list_tile{
    position: relative;
    right: 0;
    text-align: center;
    height:auto;
    min-width: 300px;
    max-width: 650px;
    background-color: rgba(0,0,0,0.60);
    color: ghostWhite;
    text-shadow: 0 0 1px black;
    /*text-decoration: underline;*/
    /*margin: 5px;*/
    /*line-height: 100px;*/
    box-shadow:  2px 5px 10px black; /* 2px 5px 5px rgba(255,127,80,0.70), */
    cursor: pointer;
    overflow: hidden;
    padding: 10px;
    transition: all .25s ease-in;
}

.list_tile:hover{
    right: -15px;
}

.list_tile ul{
    text-decoration: none;
    list-style: circle;
}
.list_body_active{
    flex-flow: column wrap;
    justify-content: flex-start;
}

.list_tile_large{
    flex-grow: 3;
}

.add_button{
    height: 200px;
    width: 200px;
    background: transparent url('resources/add-mark.svg') center;
    background-size: contain;
    margin: auto;
    overflow: hidden;
    cursor: pointer;
    /*display: inline; */
}


.task{
    position: relative;
    top:0;

    border: none;
    outline: 0;
    background-color: transparent;

    font-size: 150%;
    overflow: hidden;
    text-shadow: none;

    transition: all .25s ease-out;
    cursor: pointer;
}


.task:hover{
    top: -10px;
    text-shadow: 0 0 1px white, 2px 15px 1px rgba(0,0,0,0.60);
}

.list_title{
    font-size: 300%;
    text-decoration: double;
}

.list_container{
    /*margin-left: 350px;*/
    position: relative;
    padding: 50px;
    text-align: center;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
}


.category_button{
    height: 20px;
    width: 20px;
    border: 1px solid black;
    float: left;
}

.blank_header{
    text-align: center;
    margin: 100px 10px;
}

.new_title , .new_title:focus{
    display: none;
    border: none;
    outline: 0;
    /*background: transparent;*/
    color: black;
    border-bottom: 2px solid black;
    font-size: 300%;
    align-text: center;
}


.edit_button , .done_button {
    float: right;
    width: 100px;
    border: 1px solid black;
    cursor: pointer;
}