*{
    font-family: 'Waiting for the Sunrise', cursive;
    box-sizing: border-box;
}

.header{
    font-size: 3em;
    padding: 0px;
    text-align: center;
    text-shadow: 0 0 1px black;
    color: ghostwhite;
    background-color: rgba(0,0,0,0.50);
    margin-top: 0;
    margin-bottom: 5%;

    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.header h1{
    margin: 0;
    padding: 0;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
    text-align: right;
    color: ghostWhite;
    background-color: rgba(16,178,141,0.70);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-shadow: 0 0 1px black;
}



.add_button{
    height: 200px;
    width: 200px;
    background: transparent url('resources/add-mark.svg') center no-repeat;
    background-size: cover;
    margin: auto;
    overflow: hidden;
    cursor: pointer;
    /*display: inline; */
}


.add_button_small{
    background: url("resources/add-mark.svg") center no-repeat;
    background-size: contain;
}

.delete_button , .close_button{
    position: absolute;
    right: 10px;
    top: 10px;
    height: 1.5em;
    width: 1.5em;
    background: transparent url("resources/delete_round.svg") center no-repeat;
    background-size: cover;
    cursor: pointer;
    opacity: 0;

    transition: all .50s ease-in;
}

.delete_button:hover , .close_button:hover{
    height: 2em;
    width: 2em;
    text-shadow: 0 0 2px yellow;
}

.close_button{
    opacity: 1;
    z-index: 2000;
}


.uncheck_mark , .check_mark , .unstar, .star{
    position: absolute;
    height: 1.5em;
    width: 1.5em;
    transition: all .25s ease-in;
    opacity: 0;
    border: none;
    z-index: 1000;
}

.fav_list_button{
    background: transparent url("resources/star.svg");
    background-size: cover;
}

.star{
    bottom: 10px;
    right: 2.5em;
    background: transparent url("resources/star.svg");
    background-size: cover;
    opacity: 0.50;
}
.unstar{
    bottom: 10px;
    right: 2.5em;
    background: transparent url("resources/unstar.svg");
    background-size: cover;
    opacity: 0;
}

.check_mark{
    right: 10px;
    bottom: 10px;
    background: transparent url("resources/check.svg");
    background-size: cover;
    opacity: 0.50;
}

.uncheck_mark{
    right: 10px;
    bottom: 10px;
    background: transparent url("resources/uncheck.svg");
    background-size: cover;
}

.uncheck_mark:hover, .check_mark:hover, .unstar:hover , .star:hover{
    height: 2em;
    width: 2em;
    border: 1px solid black;
}

.editTask{
    font-size: 2em;
    background-color: rgba(16,178,141,0.70);
    border: none;
    outline: 0;
    text-align: center;
    text-decoration: underline;

    border-radius: 20px;

}

.iconContainer{
     position: absolute;
    right: -3em;
    top: 3em;
    width: 9.5em;
    height: 2.25em;
    /* padding-left: 6px; */
    display: none;
    border: 3px solid rgba(16,178,141,0.70);
    border-radius: 1em;
    background-color: rgba(0,0,0,0.15);
}

.icon{
    position: relative;
    height: 2em;
    width: 2em;
    box-shadow: none;
    transition: all .25s ease-in-out;
    z-index: 100;
    cursor: pointer;
    margin-bottom: 0.5em;
    border-radius: 42%;
    float: left;
}

.icon:hover{
    background-color: rgba(16,178,141,0.30);
    /*box-shadow: 2px 5px 10px rgba(0,0,0,0.80), 1px 2px 5px rgba(255,55,0,0.60);*/
}

.icon_delete{
    background: transparent url("resources/delete_can.svg") center no-repeat;
    background-size: cover;
    border: none;
}

.icon_flag{
    background: transparent url("resources/important.svg") center no-repeat;
    background-size: cover;
    border: none;
}

.icon_edit{
    background: transparent url("resources/edit.svg") center no-repeat;
    background-size: cover;
    border: none;
}

.icon_finish{
    background: transparent url("resources/check.svg") center no-repeat;
    background-size: cover;
    border: none;
}

.icon_close{
    left: 1em;
    bottom: 0em;
    height: 1em;
    width: 1em;
    background: yellow url("resources/delete_round.svg") center no-repeat;
    background-size: cover;
}




.task{
    position: relative;
    word-wrap: break-word;
    padding: 0;
    margin: .25em;

    border:none;
    background-color: transparent;

    font-size: 2em;
    text-shadow: none;
    text-decoration:  none;

    transition: all .25s ease-out;
    cursor: pointer;
}

.task:hover{
    /*border: 2px solid black;*/
    text-shadow: 0 0 1px white;
    border-bottom: 2px solid rgba(16,178,141,0.80);
    /*, 2px 15px 1px rgba(0,0,0,0.60);*/
}
.task:hover .icon{
    display: none;
    background-color: blue;
}

.task:hover #title_container{
    background-color: red;
}



.task_done{
    text-decoration: line-through;
    font-style: italic;
    color: rgba(0,0,0,0.60);
}

.task_important{
    color: rgba(255,55,0,0.80);
    text-decoration: double;
}

.new_title , .new_title:active{
    display: none;
    border: none;
    outline: 0;
    font-size: 5em;
    text-align: center;
    text-decoration: none;
    transition: none !important;
}

.new_title:focus {
    background-color: transparent;
    border: none;
    text-decoration: underline;
}

.new_title:not:focus{
    background-color: transparent;
    border: none;
    text-decoration: none;
}
.edit_button {
    display: none;
    font-size: 5em;
    cursor: pointer;

    text-align: center;
    content:  'url("resources/edit.svg")';
    color: red;
    background-size: cover;
    z-index: 100;

    float: right;
    margin: 0;
}

.category_button{
    height: 20px;
    width: 20px;
    border: 1px solid black;
    float: left;
}

.blank_header{
    text-align: center;
    margin-top: 1%;

    font-size: 3em;
    text-shadow: 0 0 1px black;
    padding: 10px;

    color: white;
    border-radius: 20px;
}
.done_button{
    z-index: 150;
    width: 20px;
    height: 20px;

    cursor: pointer;


    display: none;
    background-size: contain;
    background: transparent url("resources/check-sign.svg") center no-repeat;
    float: right;
}

.lists_button{
    background: url("resources/tiles_list.svg") center no-repeat;
    background-size: contain;
}

.list_container{
    position: absolute;
    text-align: center;
    right: 12%;
    padding-top: 10px;
}

#newTaskContainer{
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    padding: 10px;
}


.overlay{
background-color: rgba(0,0,0,0.50);
}

#listTitle{
    position: relative;

    text-decoration: double;
    text-align: center;
    font-size: 5em;

    text-shadow: 0 0 1px white;
    transition: none !important;

}

.title_banner{
    /*background-color: rgba(16,178,141,0.85);*/
    color: black;
    height: 10em;
    /*width: 100vw;*/
    text-align: center;
    padding-top: 31px;
    margin-bottom: 20px;
}

/*border: 1px rgba(0,0,0,1) solid;*/
.list_tile{
    position: relative;
    top: 0;
    min-height: 90px;
    height: 10em;
    box-shadow: none;
    cursor: pointer;
    overflow: hidden;
    transition: all .25s ease-in;
    border: 1px rgba(0,0,0,1) solid;
    margin: 1px;
    min-width: 30%;
    background-color: rgba(182,32,255,0.80);
}


.list_tile:hover{
    top: -15px;
    border-left: 2px rgba(0,0,0,1) solid;
    border-right: 2px rgba(0,0,0,1) solid;
    box-shadow:  2px 5px 10px black, 2px 5px 5px rgba(255,155,0,0.70);
    background-color: rgba(16,178,141,0.85);
}


.list_tile:hover .delete_button,.list_tile:hover .uncheck_mark, .list_tile:hover .check_mark, .list_tile:hover .star, .list_tile:hover .unstar{
    opacity: 1;
}


.list_tile h1{

    font-size: 2em;
    padding: .5em;
    color: ghostWhite;
    text-shadow: 0 0 2px black;
    transition: all 1s ease-in-out;
}

.list_tile h3{
    font-size: 1em;
    padding: 0;
    margin: 0;
    text-shadow: 0 0 2px white;
    position: absolute;
    bottom: .75em;
    left: .75em;
    transition: font-size .25s ease-in;
}
.list_tile h3:before{
    content: "Total tasks:  ";
}

.list_tile:hover h3{
    font-size: 1em;
}

#newTask , #newTask:active , #newTask:focus{
    border: none;
    outline: 0;
    background-color: transparent;
    font-size: 2em;
    text-align: center;
}

#newTask:hover, #newTask:active, #newTask:focus{
    text-decoration: underline;
}

#main{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start;
    width: 82%;
    height: 51%;
    overflow: auto;
    right: 3%;
}

#main div:nth-of-type(1) {flex-grow: 2;}
#main div:nth-of-type(2) {flex-grow: 6;}
#main div:nth-of-type(3) {flex-grow: 6;}
#main div:nth-of-type(4) {flex-grow: 6;}
#main div:nth-of-type(6) {flex-grow: 3;}
#main div:nth-of-type(7) {flex-grow: 4;}
#main div:nth-of-type(9) {flex-grow: 5;}
#main div:nth-of-type(10) {flex-grow: 8;}
#main div:nth-of-type(13) {flex-grow: 6;}


.page-container{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    background: transparent url("resources/coark.jpg") center repeat;
    background-size: cover;
     /*-webkit-filter: blur(1px);*/
     /*-moz-filter: blur(1px);*/
     /*-o-filter: blur(1px);*/
     /*-ms-filter: blur(1px);*/
    transition: all .25s;
}

.flex-start{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.flex-center{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.flex-col{
    width: 100%;
    height: 80%;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.list_nav{
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 10%;
    margin-left: 2%;
    background-color: rgba(0,0,0,0.30);
    text-shadow: 0 0 1px black;
    color: ghostwhite;
    border-radius: 20px;
    padding-left: 18px;
}

.list_nav_icon{
    position: relative;
    width: 3em;
    height: 3em;
    border: none;
    cursor: pointer;
    margin-right: 20px;
    margin-bottom: 20px;
}

.list_nav_icon h1{
    padding: 0;
    margin: 0;
    font-size: 1em;
    margin-left: 1%;
    cursor: pointer;
}

.list_nav h1{
    position: absolute;
    padding: 0;
    margin: 0;
    font-size: 1em;
    margin-left: 1%;
    cursor: pointer;
    bottom: -1.5em;
    width: 5em;
}

.list{
    border: 3px solid rgba(0,0,0,0.80);
    border-radius: 20px;
    box-shadow: 2px 10px 10px rgba(0,0,0,0.50);
    overflow: auto;
    width: 81%;
    height: 100%;
    margin-left: 10%;
    margin-top: 0;
    position: absolute;
}

.about_link{
    border: 1px solid ghostWhite;
    background-color: transparent;
    color: ghostWhite;
    text-shadow: 0 0 1px black;
    font-size: 2em;
    padding: 5px;
    float: left;
    cursor: pointer;
    }

.about_page{
    height: 100px;
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
}


.tasklist_container{
    position: absolute;
    width: 86%;
    right: 1%;
    height: 60%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background: transparent url(resources/paper.jpg) center no-repeat;
    background-size: cover;
    /*background-color: antiquewhite;*/
    transition: all .25s ease-in;
    overflow: auto;

    border-radius: 20px;
}

.tasklist_container h1{
    padding: 0;
    margin: 0;
}

.taskContainer{
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.clear_button{
    color: black;
    text-shadow: 0 0 1px white;
    background-color: transparent;
    border: 2px solid rgba(255,155,0,0.70);
    cursor: pointer;

    padding: 10px;
    margin: 2% 1%;
    transition: all .25s ease-in;
}

.clear_button:hover{
    background-color: rgba(255,155,0,0.70);
}

.list_button_container{
    width: 90%;
    padding: 20px;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.no-animate {
    -webkit-transition: none !important;
    transition: none !important;
}

@keyframes rotateFall {
    0%      { transform: rotateZ(0deg); }
    20%     { transform: rotateZ(10deg); animation-timing-function: ease-out; }
    40%     { transform: rotateZ(17deg); }
    60%     { transform: rotateZ(16deg); }
    100%    { transform: translateY(200%) rotateZ(17deg); }
    to      {opacity: 0;}
}

@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}

@keyframes rotateOutNewspaper {
    to      { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}

@keyframes scaleUp {
    from    { opacity: 0.3; -webkit-transform: scale(0.8); }
}


@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}

@keyframes slideInUp {
    from    { transform:translateY(100%); }
    to      { transform: translateY(0); }
}

@keyframes slideInDown {
    from    { transform:translateY(100%); }
    to      { transform: translateY(200%); }
}

@keyframes fadeOut{
    from { opacity: 1; }
    to { opacity: 0; }
}
@keyframes fadeIn{
    from { opacity: 0; }
    to { opacity: 1; }
}

.ng-scope .ng-enter { animation: fadeIn .25s both ease-in-out; z-index: 1000; }
.ng-scope .ng-leave { animation: fadeOut .25s both ease-in-out; z-index: 2000; }




/*.animate-enter,*/
/*.animate-leave*/
/*{*/
    /*-webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;*/
    /*-moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;*/
    /*-ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;*/
    /*-o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;*/
    /*transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;*/
    /*position: relative;*/
    /*display: block;*/
/*}*/

/*.animate-enter.animate-enter-active,*/
/*.animate-leave {*/
    /*opacity: 1;*/
    /*top: 0;*/
    /*height: 30px;*/
/*}*/

/*.animate-leave.animate-leave-active,*/
/*.animate-enter {*/
    /*opacity: 0;*/
    /*top: -50px;*/
    /*height: 0px;*/
/*}*/

/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
*/