<div class="list_container">
    <div class="list_nav flex-start">
        <div class="lists_button" ui-sref="list-body"></div>
        <h1 style="float: left">Lists</h1>
    </div>



    <div id="title_container flex-center" ng-init="$ctrl.buttonDisplay">

        <span id="listTitle" ng-bind="$ctrl.lists[$ctrl.activeList].title" ng-click="$ctrl.editListTitle()"></span>
        <span class="edit_button" ng-click="$ctrl.editListTitle()"></span>
        <span class="done_button" ng-click="$ctrl.updateName($event)"></span>
        <input class="new_title" placeholder=" {{ $ctrl.lists[$ctrl.activeList].title }} "  ng-keypress="$ctrl.updateName($event)" id='newTitle'/>

    </div>
    <div id="newTaskContainer flex-center">
        <div class="taskContainer"
             ng-repeat="tasks in $ctrl.lists[$ctrl.activeList].taskList"
             ng-click="$ctrl.showOptions($event)">


            <span  class="task" ng-bind="tasks.title"></span>

            <div class="iconContainer">
                <div ng-repeat="icons in $ctrl.taskIconList" class="icon" ng-bind="icons" ></div>
            </div>

        </div>
        <label for="newTask">
            <input id="newTask" ng-keypress="$ctrl.addTask($event)" placeholder="Add task...">
        </label>
    </div>
</div>