
<div class="tasklist_container">
    <div class="close_button" ui-sref="/"></div>
    <div class="flex-center" ng-init="$ctrl.buttonDisplay">
        <span id="listTitle" ng-bind="$ctrl.lists[$ctrl.activeList].title" ng-click="$ctrl.editListTitle($ctrl.activeList)"></span>
        <input class="new_title" placeholder=" {{ $ctrl.lists[$ctrl.activeList].title }} "  ng-keypress="$ctrl.updateName($event)" id='newTitle'/>
    </div>

    <div class="flex-col">

        <div class="taskContainer" ng-repeat="tasks in $ctrl.lists[$ctrl.activeList].taskList" ng-click="$ctrl.showOptions($event)">
            <span  class="task" ng-if="tasks.done === false" ng-bind="tasks.title" ng-click="$ctrl.selectTask(tasks.taskIndex)"></span>
            <div class="iconContainer">
                <div ng-repeat="icons in $ctrl.taskIconList" class="icon" ng-bind="icons.title" ng-click="icons.doThis($event)" ></div>
                <input class="new_title" placeholder=" {{ $ctrl.lists[$ctrl.activeList].title }} "  ng-keypress="$ctrl.updateName($event)"/>
            </div>
        </div>
        <label for="newTask">
            <input id="newTask" ng-keypress="$ctrl.addTask($event)" placeholder="Add task...">
        </label>
    </div>

    <div class="list_button_container">
        <div ng-click="$ctrl.clearAll()" ng-if="$ctrl.lists[$ctrl.activeList].taskList.length > 0 " class="clear_button">Clear done</div>
        <div ui-sref="list-tile" ng-click="$ctrl.deleteList()" class="clear_button">Delete list</div>
    </div>

</div>